.bg-custom{
    width: 100%;
    min-height: 100vh;
    background: var(--secondary-dark-blue);
}
.bg-component{
    background: var(--primary-dark-blue);
}
.bg-layout{
    background: var(--primary-light-blue);
}


.filter--white{
    filter: invert(100%) sepia(99%) saturate(14%) hue-rotate(238deg) brightness(105%) contrast(100%);
}

.text--white{
    color: white;
}
.text--primary-dark{
    color: var(--primary-dark-blue);
}
.text--grey{
    color: var(--primary-dark-grey);
}

table {
    border-collapse: collapse;
    width: 100%;
    background: white;
}
    

    
.my-container{
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    height: 100%;
}
.nav-link{
    color: black;
    font-weight: bold;
}
.nav-link.active, .nav-link:hover{
    background: #1e293a !important;
    color: white !important;
    
}

.nav-link[data-rr-ui-event-key="approved"]:hover, .nav-link[data-rr-ui-event-key="approved"].active{
    --bs-text-opacity: 1;
    color: rgba(25,135,84,var(--bs-text-opacity))!important;  
}

.nav-link[data-rr-ui-event-key="rejected"]:hover, .nav-link[data-rr-ui-event-key="rejected"].active{
    --bs-text-opacity: 1;
    color: rgba(220,53,69,var(--bs-text-opacity))!important;  
}

.active>.page-link, .page-link.active{
    background: #1e293a !important;
    font-weight: bold;
    border-color: #1e293a;
}

