:root{
    /* color schemes */
    --primary-light-blue: #e0f3ff;
    --secondary-light-blue:#c1e6ff;
    --secondary-dark-blue:#233044;
    --primary-dark-blue:#192630;
    --primary-dark-grey:#797979;

}